* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  all: unset;
  background-color: #32302f;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 4px 0;
}

#cpu,
#tray,
#clock,
#memory,
#network,
#battery,
#language,
#backlight,
#bluetooth,
#pulseaudio,
#temperature {
  background-color: #504945;
  padding: 2px 6px;
  color: #ebdbb2;
  border-radius: 6;
  margin: 0px 4px;
}

#workspaces {
  all: unset;
}

#workspaces button {
  all: unset;
  background-color: #504945;
  color: #ebdbb2;
  border-radius: 6;
  min-width: 32px;
  min-height: 32px;
  margin: 0px 4px;
}

#workspaces button:hover {
  background-color: #665c54;
}

#workspaces button.active {
  background-color: #076678;
}
